.UserImg{
     
    width: 250px; 
    height: 250px; 
    border: solid 2px rgb(234, 229, 229);
    border-radius: 50%; 
 

}

.dropdown-menu{

    background-color:#212121;
    border: none;
    

}

.offcanvas{

    background-color: #212121 !important;

}

.navbar-toggler{

    border: solid 1px whitesmoke;

}












